main {
    color: white;
}

header {
    text-align: center;
}

form {
    background-color: blueviolet;
    margin: 20px 30px;
    border: black 1px solid;
    width: 95%;
    padding-bottom: 50px;
}

.rows {
    padding: 17px 17px;
}

label {
    min-width: 15%;
    display: inline-block;
}

.customr1 {
    margin-right: -168px;
}

.customr2 {
    margin-right: -150px;
}

#others {
    margin-left: 15%;
}

.forflex {
    display: flex;
}

textarea {
    height: 180px;
    width: 40%;
}

.forsep {
    margin-left: 210px;
    margin-top: -30px;
}

#lastrow {
    text-align: center;
}

.btn {
    text-align: center;
}

.main {
    text-align: center;
    margin-top: 150px;
}

#thank {
    color: green;
}

#success {
    color: blue;
}